[2022-01-20 08:27] froggypaule opened #230 "Feature or small fix or bug?"
The context is that of a self admin DSW instance. There are two issues I wan to mention, all to do with output templates and versioning.

1. The situation is as follows:
- assume that the DSW version is 3.6.0, ie not the latest
- in templates, we see that all/most have a sticker 'update available'
- when choosing say 'Questionnaire Report' we'll attempt to import V2.4.0 which won't succeed since V

[2022-01-20 13:10] MarekSuchanek commented on #229
That's strange... might be some bug when using Phases. Are you using phases in the KM? Is phase set in the Questionnaire?

[2022-01-20 13:26] MarekSuchanek commented on #230
I agree, I created two issues in our backlog in JIRA: DSW-1274 and DSW-1275

[2022-01-20 13:46] froggypaule commented on #229
- yes, Phases are used
- something strange : looking at the document as given by km-insight, I see that some questions are not given their phases, see second question on screenshot.
![Screenshot from 2022-01-20 14-43-33](https://user-images.githubusercontent.com/47455219/150350175-eba23383-7fe0-4e54-87c6-cb572f5d9988.png)

- as it happens, in the KM, the phase for these questions (not showing thei

[2022-01-20 13:52] froggypaule commented on #230
Thank you :) I close this then!

[2022-01-20 13:52] #230 closed

[2022-01-21 08:27] MarekSuchanek commented on #225
I tried your description a few times 😄 and it worked for me... What do you mean in 2. by last step "but after filling in the publish form, we realise that migration fails"? It worked for me:

1. I had KM (v1.1.0) and KM Editor "KM-Fork" without published version
2. I updated KM (v1.2.0)
3. I upgraded "KM-Fork" and published v1.0.0 (its first version)

[2022-01-24 08:43] froggypaule commented on #225
Hello @MarekSuchanek , would you believe it, neither can I: more precisely, if I redo the scenatio as I descrive it, the little sticker 'update available' doesn't show up. So this situation simply can't arise. So, let's assume all the intervening version updates took care of this, or I dreamed... :)

As a consequence, I close this issue.

[2022-01-24 08:43] #225 closed

[2022-01-25 07:57] froggypaule commented on #229
hello @MarekSuchanek , do you have any news? sorry to bother.

So we are in DSW 3.6.0.
Playing around, I see that other projects are failing with the same error (see above) using Questionnaire Report. Preview however always succeeds with km-insight.

Another thing: Questionnaire Report with a json output succeeds; I attach it here. Many thanks.
[France Bio Imaging DMP.json.txt](https://github.com/

[2022-01-27 08:21] froggypaule commented on #229
@MarekSuchanek : I have good news: I have updated our site to 3.7.0, and everything behaves normally. Quite bizarre? Anyway I won't clode this as yet, just in case there is something more to add....
Ta!

[2022-01-27 08:35] MarekSuchanek commented on #229
@froggypaule Sorry, I was stuck with some other things and missed the notifications. Glad that the upgrade helped... It should not happen since 3.7.0 (some changes in document worker handling phases). But in 3.8.0 it will be even more enhanced (internally it will use "Never phase" instead of null value - to avoid missed checks if it is real phase or null).

[2022-01-27 08:37] froggypaule commented on #229
Don't worry Marek; we are all extremely busy :)
Ok, let's forget this (bug). Have a great day.

[2022-01-27 08:37] #229 closed

[2022-01-28 12:56] froggypaule opened #231 "dangling link in doc"
**Describe the bug**
this link https://github.com/ds-wizard/dsw-schemas/blob/master/schemas/doc-context/doc_context_schema_v7.json goes nowhere.

**Where**
https://guide.ds-wizard.org/miscellaneous/development/metamodel-schemas

thanks!

[2022-02-01 14:16] froggypaule opened #232 "object CrossReference in document_worker"
**The Question**
The question you want to ask us.
It seems that object CrossReference is missing from this [page](https://github.com/ds-wizard/document-worker/blob/master/support/DocumentContext.md#listquestion)

[2022-02-01 15:46] froggypaule opened #233 "in document_worker/model/context.py"
**Describe the bug**
in document_worker/model/context.py, class KnowledgeModel:

we read:
[code]

of course, the last statement should read f key in ctx.e.phases.keys()

this explains why doing
    {{ dc.km.phases }}  I get an empty list

while
    {{ dc.km.phase_uuids }} correctly gives the uuid list....

[2022-02-01 16:13] MarekSuchanek commented on #232
The issue is that the `CrossReference` is still somewhat *hidden feature* (not even feature I would say, more like relict) - you cannot create nor edit it in KM editor and it was never rendered in the questionnaire nor documents. It is there because such links were in the original Rob's mindmap, but we still don't know how to implement it properly - if you have some use cases for cross references

[2022-02-01 16:22] froggypaule commented on #232
Ok, no worries, it is just that I saw this when rewriting the km-insight template. It's all fine by me.

[2022-02-01 16:22] #232 closed

[2022-02-01 17:16] froggypaule commented on #233
Indeed, this is what I did. One day I would like to talk to you re the context model, a few things puzzle me. But this will be for another day :)

I

[2022-02-01 17:16] froggypaule commented on #231
thanks :)

[2022-02-01 17:26] aleolivo opened #234 "Can not import template dsw:questionnaire-report in the last versions"
**Describe the bug**
I can neither import template dsw:questionnaire-report:2.4.0 from registry in DSW version 3.7.0 nor dsw:questionnaire-report:2.5.0 in DSW version 3.8

**How to reproduce**
1) Open shell
git clone https://github.com/ds-wizard/dsw-deployment-example
cd dsw-deployment-example
docker-compose up -d
2) Open web frontend
Add DSW Registry token and enable it
Import template dsw:questi

[2022-02-01 17:50] aleolivo opened #235 "Can not start docker local instance (commit "release 3.8")"
**Describe the bug**
An error occurred starting the local instance "dsw-deployment-example" with docker-compose last commit  "release 3.8"

**How to reproduce**

[code]

**Screenshots**
The error:
[code]

**DS Wizard deployment:**
 - Docker local instance version 3.8

[2022-02-01 19:16] vknaisl commented on #235
Hello Alessandro,

Try it now. We were releasing 3.8.0 today. Therefore, the backend didn't have to be yet built. Let me know if it works for you now.

Regards,
Vojtech

[2022-02-02 07:00] froggypaule commented on #233
Good  morning @MarekSuchanek : actually I am in the process of 'rewriting' km-insight in order to use the recent to_context_obj object. Useful to get me learning.

About the question I have: in a few of the classes as given by the context, for example KnowledgeModel we see fields like chapter_uuids and chapters,etc. I suspect this for legacy/compatibility purposes?
And I suspect the same applies t

[2022-02-02 08:49] MarekSuchanek commented on #231
It is there now...

[2022-02-02 08:49] #231 closed

[2022-02-02 08:56] froggypaule opened #236 "rewritten km-insight"
**The Question**
I have rewritten the km-insight templates so that they use the new context object to_context_obj filter; if you are interested, I 1) can either commit the branch in the km-insight repo, or 2) send you the zip file

**DS Wizard part**
km-insight

**Additional context**
- I didn't change anything to the code as is, except anything following the changing approach
- I did not do the A

[2022-02-02 09:02] froggypaule opened #237 "Annotations, annotations in document_worker"
**The Question**
What are annotations for? sorry, this is not clear (read de user guide, but...)

**DS Wizard part**
Also, in document_worker/model/context, I read

def _load_annotations(annotations: list[dict[str, str]]) -> AnnotationsT:
  [...]
    for key, value_list in semi_result.items():
        if len(value_list) == 1:
            result[key] = value_list[0]
        else:
            result

[2022-02-02 10:18] froggypaule commented on #231
Ha! found another one: https://jinja.palletsprojects.com/en/master/templates/
Not you fault.

[2022-02-02 10:57] aleolivo commented on #235
Great, now it works! Thanks

[2022-02-02 10:57] #235 closed

[2022-02-03 15:20] froggypaule commented on #236
Following the above, I tweaked the KM Insight template to make it more user-friendly. Ie whose purpose is the review, sharing, of the created knowledge model.
Basically with in mind the original request of Libby I believe. Attached here is an example.
[testing-CKM-with-paulettes-new-templates.pdf](https://github.com/ds-wizard/ds-wizard/files/7995792/testing-CKM-with-paulettes-new-templates.pdf)

[2022-02-05 17:19] MarekSuchanek commented on #234
Hello @aleolivo, could you please check your server logs what it write during the import?

[code]

Either you hit a window where the Registry was not available during the upgrade (but that should work now - I verified that on our testing instance), or you have incorrect Registry token entered in Settings. Final possibility could be something blocking the traffic between your server container and t

[2022-02-05 17:24] MarekSuchanek commented on #233
Yes, the object-oriented context basically extends the structure of the "JSON" like. It just adds the links for easier navigation through KM and replies. There are certain shortcuts... It is quite complex (I hope the diagram in docs is at least a bit useful in this).

In `dc.km.e` (or `dc.km.entities` are all entities in dict-like form, so you can retrieve entities using its UUID), e.g., `dc.km.e.

[2022-02-05 17:24] MarekSuchanek commented on #236
Looks good... are you working on that in fork/branch?

[2022-02-05 17:29] MarekSuchanek commented on #237
There are more way how the annotations can be used (and maybe more will emerge in the future), now there are basically two:

1. People working in KM Editor can use annotations as some kind of notes, additional things to be reviewed that are relevant to a chapter, etc.
2. It can be retrieved by a document template to act somehow based on it. For example, in your KM Insight template version, you cou

[2022-02-05 19:30] aleolivo commented on #234
Thanks for suport, @MarekSuchanek !

- This is the **log output** printed after clicking on import `dsw:questionnaire-report:2.5.0`:
[code]

- The **token should be valid** since I can import all the others templates.
  See the following example of `dsw:h2020-dmp:1.6.0` template:
  ![immagine](https://user-images.githubusercontent.com/13802851/152654767-7a5b5918-1bec-4aa9-b94d-a3b6df106090.png)

[2022-02-05 20:20] MarekSuchanek commented on #234
I see, then the issue is with your S3 storage. You don't have the bucket created: `Error in s3 connection: MErrService NoSuchBucket`

If you are using Minio, the easiest way is to access it via web UI (e.g. `localhost:19000`, based on your `docker-compose.yml`), login, and create the bucket. Alternatively, you can use `mc` client: https://docs.min.io/docs/minio-client-complete-guide.html#mb

I wil

[2022-02-06 01:12] aleolivo commented on #234
Sorry, my bad. The fact is that in a previous version, I think the 3.3, if I'm not wrong I could import the dsw:questionnaire-report without this step, am I ?

[2022-02-06 06:54] MarekSuchanek commented on #234
Indeed, that was probably `dsw:questionnaire-report:1.x.y` where we did not use any asset that is needed to be stored in S3 (just text files). Since `dsw:questionnaire-report:2.x.y`, the template is using an asset - more specifically, a Word template for styling docx export.

[2022-02-06 08:31] aleolivo commented on #234
Thank you very much for your support and explanations.

[2022-02-06 08:31] #234 closed

[2022-02-06 09:48] froggypaule commented on #236
Hello @MarekSuchanek : I don't have the access rights; again I happily send the zip files, or I push a branch here. Ta.

[2022-02-07 13:55] thopico opened #238 "Error when adding new item (question/value....) to KM"
**Describe the bug**
When adding a new item (I first saw it when adding a new response option, then when adding a new question), I hit the following error (see screenshot):
[code]

I then need to find my item in the summary and click on it to finally access and customize it. (So after all this bug isn't too constraining).

I upgraded last week from 3.7.0 to 3.8.0. I didn't observe this behavior be

[2022-02-07 14:09] janslifka commented on #238
I am unable to reproduce the described issue following the provided steps. However, we've released patch version 3.8.1 for `wizard-client` as well as `wizard-server` shortly after 3.8.0 fixing some issues.

Could you please update your instance to the latest version and check if the issue persists?

[2022-02-07 14:48] thopico commented on #238
Hi @janslifka ,

sorry I missed this release, but it does fix this behavior with the 3.8.1.

Thank you! I close the issue now.

[2022-02-07 14:48] #238 closed

[2022-02-08 13:30] froggypaule commented on #236
Hello again; I post here the zip files for both branches. Let me know if you need anything else.
[user-friendly-km-insight-template.zip](https://github.com/ds-wizard/ds-wizard/files/8024153/user-friendly-km-insight-template.zip)
[km-insight-template-rewritten.zip](https://github.com/ds-wizard/ds-wizard/files/8024154/km-insight-template-rewritten.zip)

[2022-02-08 13:34] froggypaule commented on #237
Ok thanks Marek, interesting your nanopub example. I must study this further.

However, what about my second question re the code under _load_annotations, and the difference made between value_list[0] and value_list?

[2022-02-17 19:27] MarekSuchanek commented on #236
Hi @froggypaule, I finally managed to look at your templates... it looks fine both visually and in the code. I did not find any issue while looking at it now. If you could create Pull Request(s) in the repo https://github.com/ds-wizard/km-insight-template, that would be great. But definitely no need to rush 🙂

[2022-02-18 08:00] froggypaule commented on #236
Hello @MarekSuchanek , the only thing missing are the annotations.
A PR? but I can't push a branch here, last time I tried, I didn't have access to this repo.

[2022-02-21 08:16] MarekSuchanek commented on #236
You can create a fork and then submit a PR whenever ready, that is the best way to contribute using GitHub:
https://docs.github.com/en/get-started/quickstart/contributing-to-projects
https://jarv.is/notes/how-to-pull-request-fork-github/

[2022-02-21 08:20] froggypaule commented on #236
ok, will do this. Cheers.

[2022-02-21 13:57] froggypaule commented on #236
hihi! you wouldn't believe it but I actually never did a git fork before.... ;)

Well, it's all done now,

[2022-02-21 13:57] #236 closed

[2022-03-14 16:59] froggypaule opened #239 "project migration"
**The Question**
Originally when a project was migrated to a new newer KM version, the existing project was kept. This is no longer the case. Since when is this the case?

Apparently, this migration is not reflected in the project's versions.... Did I miss something? how to manage/view these different project 'versions'?

[2022-03-15 13:04] froggypaule opened #240 "cookies in self managed instance"
**The Question**
Hello all!
I am revisiting our terms of service and privacy document.
I need to know if a self-hosted DSW instance manages some cookies; I guess yes.
Can you tell me more? I need to detail the situation in this respect, as all our IFB sites are in the process of being registered with our DPO.
Many thanks.

[2022-03-19 10:45] #233 closed

[2022-03-21 08:04] froggypaule commented on #233
Thanks Marek for these clarifications. And indeed, the diagram helps a lot!
I'll close this now. Cheers.

[2022-03-22 20:58] MarekSuchanek commented on #240
Hi @froggypaule, DSW uses local storage but I guess that is mostly considered as the same as cookies (esp. in terms of law).

Eventually @janslifka, can you provide additional info?

[2022-03-22 21:02] MarekSuchanek commented on #239
This behaviour was introduced in 3.9 as it is desirable to keep the same UUID of a project even when it is migrated. If people want they can create a backup copy using the "Clone" action.

Migrations do not affect "versions" (yet), it just migrates the existing replies... in the future, there might be "migration" captured in the version history, but that is a next potential step.

[2022-03-23 07:35] janslifka commented on #240
As @MarekSuchanek said, DSW uses local storage. Under the `session` key we store information like this:

[code]

[2022-03-25 09:45] froggypaule commented on #240
Ok, thanks @janslifka et @MarekSuchanek . Sorry, but
- it seems there are still cookies (see
![Screenshot from 2022-03-24 10-13-58](https://user-images.githubusercontent.com/47455219/160095687-f8022928-292a-4211-b0d6-bad5e5bbeef6.png)
- but for me, I do not understand how this interacts with the GDPR. Any pointer from your part?

[2022-03-25 10:25] MalikaSmail opened #241 "export a KM in Json ?"
**The Question**
Is it still possible to export a KM in JSON for further editing ?

**DS Wizard part**
knowledge model

**Additional context**
I only can export in km format

[2022-03-25 10:41] froggypaule commented on #239
ok, I see, thanks; I'll remember this. Cheers!

[2022-03-25 10:48] janslifka commented on #240
But `france-bioinformatique.fr` is not the domain where DSW Instance runs, is it? I expect it to be running on some subdomain? Those cookies are most likely related to the website running on that domain, such as Google Analytics cookies, maybe?

[2022-03-25 10:52] froggypaule commented on #240
correct, but it does not show the subdomain (firefox)... I have nothing else open. I'll try with Chrome.

[2022-03-25 10:56] janslifka commented on #240
Can you see what those cookies actually are? In Firefox inspector, I can see this:

![Screenshot 2022-03-25 at 11 54 39](https://user-images.githubusercontent.com/7797976/160108213-c17892c3-c81a-4e4a-87ed-db05c166b797.png)

[2022-03-25 11:21] froggypaule commented on #240
Sorry, but I am out of my depth here :(
In chrome it correctly shows local storage only. So  for the cookies, no clue: firefox inspector also shows (for me) none exists. I do not see what you show here.
Let's decide to forget this, and correctly decide there are no cookies concerning DSW. I thank you for your time.

(it's possibly related to the fact that on firefox I have ghostbuster add-on...)

[2022-03-25 12:28] froggypaule commented on #240
Actually, I have to reopen this issue :(
Besides cookies, does DSW (server) store connection data (IP address etc.... ) ? if yes, which data items?
-- Still answering to the CNIL request.

Thanks again!

[2022-03-25 12:42] MarekSuchanek commented on #240
DSW itself does not store connection data... if you are using some HTTP/S proxy, it may store/log such information, but that depends of the deployment 🤷🏻‍♂️

[2022-03-25 12:43] froggypaule commented on #240
ok thanks. Sorry for the (stupid?) question. Cheers.

[2022-03-25 12:43] #240 closed

[2022-03-25 21:28] MarekSuchanek commented on #241
It is possible in the `.km` format, which is event-based JSON. However, it is not recommended as you need to take care about several special cases related to the order in which some events affect each other. What is your exact case for needing this (and cannot do it directly in DSW KM Editor)?

This might be related: https://ideas.ds-wizard.org/posts/54/programmatically-create-kms

[2022-03-28 07:28] wvranken opened #242 "Error: unable to get questionnaires"
**Describe the bug**
A clear and concise description of what the bug is.

For the https://rnact.ds-wizard.org/projects page, we cannot access the project any more, but get an 'Error Unable to get Questionnaires.' message.

**How to reproduce**
Steps to reproduce the problem:
1. Go to https://rnact.ds-wizard.org/projects

**Expected behavior**
A clear and concise description of what you expected to

[2022-03-28 10:04] MarekSuchanek commented on #242
Dear @wvranken, it seems that there is an issue with computing indications for [one project](https://rnact.ds-wizard.org/projects/ceec37d6-2f78-4e87-9765-5e7c5dff35e9). We were not able to quickly see what causes the issue, to allow listing projects, we temporarily removed all the reply events there. Please do not use this project as we will put the replies back once we figure out the cause (let's

[2022-03-28 10:05] BioDataAdmin opened #243 "Cannot create Documents in Science Europe DMP Template"
**Describe the bug**
Cannot create Documents in Science Europe DMP Template

**How to reproduce**
Steps to reproduce the problem:
1. Go to any project
2. Click on "Documents"
3. Click on "New document"
4. Select "Science Europe DMP Template"
5. Select any Format and click "Create"
6. The "document" is created with an "error" tag and cannot be opened

**Expected behavior**
Following the same steps,

[2022-03-28 11:01] MarekSuchanek commented on #243
Hi @BioDataAdmin, I fixed the templated and updated it in your instance... Could you please verify if it is working well for you now? (Use v1.10.1 of the Science Europe template.)

[2022-03-28 11:36] BioDataAdmin commented on #243
Woow...that was fast. Yes it is working now. Thank you!

[2022-03-28 11:36] #243 closed

[2022-03-28 15:25] MarekSuchanek commented on #242
@wvranken is it possible that you added replies to that project via API, e.g. by using some custom script?

[2022-03-28 16:24] mddevignes commented on #242
Hello, I checked the problematic project Test_KM4_bis.  In fact it was one of our attempt (Malika and me) to quickly create and test a template project (just as Test_RNActprefilledDMP_KM4). We did not use any particular script to create it.
However, it is true that we have modified the underlying knowledge model KM4 a lot after that.
Recently and after discussing with Paulette we decided to start

[2022-03-30 13:08] froggypaule opened #244 "Unable to get km-editor???"
**Describe the bug**
Cannot get to the km-editor.
![Screenshot from 2022-03-30 14-59-52](https://user-images.githubusercontent.com/47455219/160840652-add22bd4-99b9-4840-956b-9f7209d75236.png)
and
![Screenshot from 2022-03-30 15-01-16](https://user-images.githubusercontent.com/47455219/160840693-b9746057-4cbe-44bd-94d0-d8d863ae82b0.png)

This is on self-installed dsw-demo.france-bioinformatique.fr,

[2022-03-30 13:19] froggypaule commented on #244
In case you are interested, I believe several of you are actually admin on this site, see
![Screenshot from 2022-03-30 15-17-08](https://user-images.githubusercontent.com/47455219/160844029-59352b9e-2b57-4f03-913d-94300e905aff.png)

[2022-04-06 11:46] BioDataAdmin opened #245 "Documents have much less information than in the DMP"
Describe the bug
Documents have much less information than in the DMP

How to reproduce
Steps to reproduce the problem:

Go to any project
Click on "Documents"
Click on "New document"
Select "any DMP Template"
Select any Format and click "Create"
The document is very small when compared to the DMP and does not contain information on project participants, datasets, etc
Expected behavior
Following t

[2022-04-06 12:44] froggypaule opened #246 "dsw-tdk and metamodel 9 (this is also in the release slack)"
**Describe the bug**
dsw-tdk 3.10.0 does not like metamodel V9. see
![Screenshot from 2022-04-06 14-12-52](https://user-images.githubusercontent.com/47455219/161976988-6650360c-14a2-40fd-9cb0-8f344481cd6f.png)

but the answer could be here:
![Screenshot from 2022-04-06 14-29-01](https://user-images.githubusercontent.com/47455219/161977083-5ae5fefa-cee1-4c7b-ac01-e4dbb7bebedb.png)
that is, after in

[2022-04-06 13:46] MarekSuchanek commented on #246
Are you using some virtual environment or installing TDK system wide? What is the output for `pip freeze | grep dsw-tdk` and `python -m pip freeze | grep dsw-tdk` (alternatively `python3`)... it may be the case that you have multiple versions of Python and there is a clash between them, making 3.8.0 not being uninstalled and having the preference 🤷🏻‍♂️

[2022-04-06 13:56] froggypaule commented on #246
Spot on Marek
![Screenshot from 2022-04-06 15-55-24](https://user-images.githubusercontent.com/47455219/161991288-5788a4bf-f73f-426c-bd41-69dac1fa578b.png)

thanks. sorry for this (I should brush up my python.... ;) )

[2022-04-06 13:56] #246 closed

[2022-04-09 07:27] MarekSuchanek commented on #245
Hi @BioDataAdmin, what DMP template do you mean exactly?

There is the "questionnaire report" that outputs everything from the questionnaire. Then, there are some templates based on e.g. Horizon EU template or maDMP - there are only the information that we matched as relevant to addressing required stuff in the template.

[2022-04-12 08:50] froggypaule opened #247 "questionnaire migration: is it a bug or???"
**self-installed 3.10**

**Describe the bug**
A questionnaire migration to the next version of the KM. It shows
![Screenshot from 2022-04-12 10-44-54](https://user-images.githubusercontent.com/47455219/162919981-0ac8432f-11c4-4b61-816b-cf37b1cfb715.png)

This really comes out of the blue, and I am lost :(  I can see an error in the log
[log.txt](https://github.com/ds-wizard/ds-wizard/files/8471283

[2022-04-13 08:15] froggypaule commented on #247
I comes from my side, but I have no clue about the how etc.... I keep looking.

[2022-04-13 08:26] froggypaule commented on #247
It has to do with the answers given: if I create a (empty: without given answers) project from IFB:bioimage-fbi-embrc-pgd-structure-km:1.3.9 and then migrate it to IFB:bioimage-fbi-embrc-pgd-structure-km:1.3.10 it all goes well.
Here I join the km
[IFB bioimage-fbi-embrc-pgd-structure-km 1.3.10.txt](https://github.com/ds-wizard/ds-wizard/files/8479565/IFB.bioimage-fbi-embrc-pgd-structure-km.1.3.10

[2022-04-13 09:41] froggypaule commented on #239
I reopen this: actually I see a problem with this. Suppose we forgot to clone the project, is there a simple way to revert the migration? except from reverting each item in the latest version?

[2022-04-24 06:03] #241 closed

[2022-04-24 06:03] #245 closed

[2022-04-24 06:12] MarekSuchanek commented on #239
That is true, reverting is not possible... in ideal state it could be part of the "version history" inside project. I added it here as it is a feature request: https://ideas.ds-wizard.org/posts/14/improve-questionnaire-migration

[2022-04-24 06:12] #239 closed

[2022-04-24 10:03] MarekSuchanek commented on #244
I managed to login into the instance and all editors in https://dsw-demo.france-bioinformatique.fr/km-editor works for me... did you manage to overcome this issue or was it solved by upgrading to the latest version?

[2022-04-24 10:25] MarekSuchanek commented on #247
Status update: being investigated via email conversation due to personal data included. We will post here info about the issue when it is resolved.

[2022-04-25 07:06] froggypaule commented on #244
Hello Marek: sorry, we should have updated this. @vknaisl helped me solve this via slack.
The answer was there was a row in the km_migration table: after clearing the table, everything went back to normal. (no clue as to what happened).

[2022-04-25 07:06] #244 closed

[2022-04-29 10:26] #247 closed, assigned to MarekSuchanek

[2022-05-17 08:17] osallou opened #248 "Fails to setup openid"
**Describe the bug**
In config, cannot set openid configuration, getting 500 error

**How to reproduce**
Steps to reproduce the problem:
1. Go to 'settings/authentication'
2. Add on openid provider
3. See error (500 response error code)

**Expected behavior**
Openid should be added

**DS Wizard deployment:**
 - Instance local, v3.10.1 (tested with 3.9.1 too)
 - Browser chrome
 - docker-compose

**

[2022-05-17 08:25] #248 closed

[2022-06-01 08:59] thopico opened #249 "Unable to import template"
**Describe the bug**
When trying to import _Questionnaire Report_ from DSW registry, got
[code]
When trying to import _Questionnaire Report_ from this file (https://github.com/ds-wizard/questionnaire-report-template/blob/master/template.json), got
[code]
When trying to import _Questionnaire Report_ from all the zip archive (https://github.com/ds-wizard/questionnaire-report-template), got
[code]

T

[2022-06-01 09:10] MarekSuchanek commented on #249
Hello @thopico, are you importing from registry `dsw:questionnaire-report:2.6.0`? If so, can you check wizard-server logs at that point?

[2022-06-01 09:48] thopico commented on #249
Yes :
[code]

[2022-06-01 09:56] thopico commented on #249
Sorry for disturbing you, it seems to be a problem with the minio bucket. I didn't read this info from [the README](https://github.com/ds-wizard/dsw-deployment-example/blob/main/README.md):

Now it is working!

[2022-06-01 09:56] #249 closed

[2022-06-02 10:25] froggypaule opened #250 "sending of email"
**Describe the bug**
email sent by dsw get's rejected by the mail host, with

self-instance
3.12

**How to reproduce**
Steps to reproduce the problem:
As a non logged-in user, simply ask to resend the password.

**Expected behavior**
The mail is delivered to the recipient.

**DS Wizard deployment:**
self-install
3.12

A while back I realised that email wasn't sent from DSW any longer. So I went ba

[2022-06-02 10:31] MarekSuchanek commented on #250
Hi @froggypaule. that issue is most probably on your side... using non-authenticated and insecure mails usually results in being filtered by SPAM filter. Ideally, your mail server should use some additional DNS-related stuff like DMARC or SFP.

[2022-06-02 10:34] froggypaule commented on #250
ok thanks @MarekSuchanek , but I didn't have this problem previously?
So, I'll go back to our sys admin.

[2022-06-14 11:14] BioDataAdmin opened #251 "Create documents template not working"
**Describe the bug**
Document templates are not loading, so cannot create any document

**How to reproduce**
Steps to reproduce the problem:
1. Go to any project-> documents-> create
2. Click on The dropdown of the templates, the dropdown shows no options

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help e

[2022-06-14 11:15] MarekSuchanek commented on #251
I updated the templates in your instance, sorry for the inconvenience. Can you please check now?

[2022-06-14 17:33] #251 closed

[2022-06-16 15:20] froggypaule opened #252 "cannot import km"
**The Question**
I am sorry: I think I must be crazy:

- I export a km from one instance of DSW
- I cannot export it on another !!!

Both are at 3.12.0, with server at 3.12.1.

I'll send the offending km by mail due to RGDP issues. Actually I can't import anything...
I would appreciate if someone could pick what I did wrong.... :(
See also
![Screenshot from 2022-06-16 17-19-52](https://user-images

[2022-06-17 06:25] MarekSuchanek commented on #252
Hi @froggypaule, could you also provide part of the server logs from the time when the import fails? There should be an error message.

For me (local deployment) I am able to import the KM you sent me without any issues. Are you sure that the target server is running the correct version?

![image](https://user-images.githubusercontent.com/9638527/174238027-448f9149-b488-4f47-843a-b21bcfee66b0.png)

[2022-06-17 06:38] froggypaule commented on #252
Hello @MarekSuchanek and thanks. Attached are two files; screenshot re versions, and log file. Honestly I couldn't see a thing. I must have done something odd, since our pro instance behaves in the same way. The question is what???
![Screenshot from 2022-06-17 08-36-06](https://user-images.githubusercontent.com/47455219/174240013-1cf5077b-8cde-48ae-a1e9-77a53c7e9f9e.png)
[dsw_dsw-server_1.out.txt]

[2022-06-17 06:54] froggypaule commented on #252
The thing of note I did on both instances is to reinstall dsw by dowloading/configuring the dsw-deployment-example; that was to fix the mailer issue which ceased working at the time. Attached are the yml files, just in case. Ta. (I send dsw.yml by mail for privacy reasons).
[docker-compose.yml.txt](https://github.com/ds-wizard/ds-wizard/files/8925225/docker-compose.yml.txt)

[2022-06-17 16:51] MarekSuchanek commented on #252
I remembered that I have access to this instance... When you upload the file, the server responds with 413. It seems like your proxy limits max file size or max request size; then it won't even reach the backend of DSW.

Can you check your proxy settings?
For nginx, you can follow e.g. this one: https://docs.rackspace.com/support/how-to/limit-file-upload-size-in-nginx/

![image](https://user-image

[2022-06-18 11:12] froggypaule commented on #252
suber @MarekSuchanek , you are brilliant!!! that was the answer. If only I had the F12 reflex more often.

Solved!!!

[2022-06-18 11:12] #252 closed

[2022-06-20 09:54] froggypaule opened #253 "minio issues?"
**The Question**
I think I have bad vibes... Anyway, I cannot preview anything (nor retrieve documents either). First previewing: see screenshot below.

**DS Wizard part**
Must be minio.

**Additional context**
see screenshot
![Screenshot from 2022-06-20 11-51-17](https://user-images.githubusercontent.com/47455219/174576479-f7ad3d90-a7a1-45c4-b547-b2c389940e76.png)

[2022-06-20 09:56] froggypaule commented on #253
Ah, I know: minio isn't running at all:
![Screenshot from 2022-06-20 11-56-13](https://user-images.githubusercontent.com/47455219/174576982-e2cbed02-e81c-46f1-b984-1b4fc83e759a.png)

Why is that?

I will reboot the whole lot and see.

[2022-06-20 10:01] froggypaule commented on #253
ok, We are lucky, all is goodnow :)

[2022-06-20 10:01] #253 closed

[2022-07-01 12:36] froggypaule opened #254 "km editor unable to save: help"
I have a problem (DSW 3.13) with firefox:

I am doing a lot of editing on a KM, and DSW struggles to save the changes. The logs don't show a thing..., but F12 does (ha! I remembered doing this) :
![Screenshot from 2022-07-01 14-21-46](https://user-images.githubusercontent.com/47455219/176895527-a11b98e1-0c41-40f9-8918-741fe210ddb2.png

however, I did a nginx restart, the above error doesn't show a

[2022-07-01 12:40] froggypaule commented on #254
ok chrome works :(

[2022-07-01 12:51] janslifka commented on #254
Hello, what version of Firefox and what OS do you use when this happens?

[2022-08-17 13:55] froggypaule opened #255 "a question wrt forking of kms"
**The Question**
The most amazing thing happened (wrt to forking of kms): I managed to rebase a km!!!
Ok, let me explain.

First, the general context:

- there is a specialised km for bioimagery IFB:bioimage-fbi-embrc-pgd-structure-km:1.4.17
- I want to fork this one into a generic IFB:pgd-structure-km and I publish it as IFB:pgd-structure-km:0.0.1
- then I wish to rebase the  specialised km for b

[2022-08-17 13:57] froggypaule commented on #255
Below I'll explain how this came about. Yes, you would expect this not to be possible since a km id cannot be reused...

[2022-08-17 14:28] froggypaule commented on #255
Oh no!!! I lost it all...
starting again:

- step 1
-- we start with IFB:bioimage-fbi-embrc-pgd-structure-km:1.4.17
![Screenshot from 2022-08-17 16-06-18](https://user-images.githubusercontent.com/47455219/185157779-14f37010-e4f4-417a-9cb6-32d2343ac101.png)
-- note that there is an unpublished modification
![Screenshot from 2022-08-17 16-05-54](https://user-images.githubusercontent.com/47455219/18

[2022-08-17 14:43] froggypaule commented on #255
- step 3
-- we fork  IFB:pgd-structure-km:0.0.1 as bioimage-fbi-embrc-pgd-structure-km
![Screenshot from 2022-08-17 16-31-19](https://user-images.githubusercontent.com/47455219/185161513-61b9ef02-686e-4684-bc45-4163f35e6e3b.png)

This shouldn't be possible right since id bioimage-fbi-embrc-pgd-structure-km already exists right?
-- we publish this fork ... as bioimage-fbi-embrc-pgd-structure-km:1.4

[2022-08-17 15:10] froggypaule commented on #255
Actually, thinking ot it, couldn't we think such a situation desirable?

- I may want to integrate modifications from the generic into the specific
- but I might also want to incorporate  modifications from the specific into the generic

What are your thoughts???

[2022-08-18 08:56] froggypaule commented on #255
So, I am honestly mystified.
Repeating this game with other kms, sometimes I manage to reproduce this 'rebase', sometimes not (but this is what would be expected) with
![Screenshot from 2022-08-18 10-55-37](https://user-images.githubusercontent.com/47455219/185354403-7a1cdfe8-367c-433e-b28b-e17b6f2d3325.png)

I send you by mail another rebase that worked (because of gdpr).

[2022-08-18 11:32] jokermanse opened #256 "Documents and/or previews are not created after upgrading"
When generating a preview and/or creating a document, the document is never generated, i.e. the page is just "Loading..." (or "Queued...") forever. No error messages.

Our instance run version 3.14.1 (this might have occured in 3.13 as well, but not in previous versions).

From the docker logs:

dsw-server-staging  | [Info ] [I:7e2925a6-3e9f-4226-bcaa-4c18ea216933] [T:-----------------------------

[2022-08-18 17:30] MarekSuchanek commented on #256
Heelo @jokermanse, can you please check whether docworker component is running and check the logs from that service? It seems like it is not running or not connecting properly to the database.

[2022-08-19 09:19] jokermanse commented on #256
Hello @MarekSuchanek
docworker is running, but I don't get much from the docker logs, just a lot of:
document-worker-staging  | 2022-08-19 09:03:34,602 |    DEBUG | docworker: [T:9bbeb869-400c-4857-8f04-58f67b2d7af5] Trying to fetch a new job
document-worker-staging  | 2022-08-19 09:03:34,604 |    DEBUG | docworker: [T:9bbeb869-400c-4857-8f04-58f67b2d7af5] Fetched 0 jobs

I noticed when attempting

[2022-08-19 10:04] MarekSuchanek commented on #256
That seems fine... are you using the correct PostgreSQL DB? What is the version of it? Do you have the same configuration for server and docworker?

If possible, you should be able to check queued document generation commands via:

[code]

If there are none, then docworker has nothing to work on... if there are some, your docworker cannot reach them for some reason.

[2022-08-22 08:47] jokermanse commented on #256
PostgreSQL version is 13.6 (on RHEL 8.5). Same config for server and docworker.

The query above returns 11 records, such as:

[code]

Note that app_uuid and body are empty (null), I don't know if they should be.
Also it seems that documents are (at least in some cases) eventually created (after a long time). Previews only seem to work when there is a document created already. Otherwise a lot of 2

[2022-08-22 11:29] MarekSuchanek commented on #256
These 11 are stuck there even if you see in log of document worker this line: `Fetched 0 jobs`? Or those are eventually generated (after long time), then there are no "New" and start stacking again?

[2022-08-22 12:28] jokermanse commented on #256
It seems documents are created (after a very long time), and previews seem to just disappear eventually. The records are then removed from the persistant_command table (and new records are added when new doc/preview is created).
body is NOT null (sorry my mistake, looked more carefully now, it seems to contain meaningful content).

So it seems this is about doc creation for some reason taking a ve

[2022-08-22 16:53] MarekSuchanek commented on #256
Can you share your docker-compose.yml and config file(s) with changed sensitive information, please? I tried to reproduce but no luck, also in our all environments it works without any issues...

The document worker is waiting using LISTEN query for a NOTIFY from server that a new document is requested... then it may also timeout after some time when no NOTIFY happened, checks for new documents (p

[2022-08-24 08:51] jokermanse commented on #256
Configs have been mailed.

[2022-08-24 14:33] BenjaminWinks opened #257 "Cached Inactive Accounts Can Still Perform Various Actions"
**Describe the bug**
Any account that has been made inactive via the user settings in the admin panel is still functional until the user's cached credentials are removed from the browser.

**How to reproduce**
Steps to reproduce the problem:
1. Make any user inactive via the admin panel while that user is still logged into the application (i.e. Albert Einstein)
2. Do not logout of the application

[2022-08-25 06:44] vknaisl commented on #257
Hello Benjamin,

Thanks for reporting. We will fix that ASAP in the next release at the beginning of September.

Vojtech

[2022-08-26 09:32] jokermanse commented on #256
So from what I understand, it is the LISTEN query from docworker that is failing?
I don't know how long the timeout period is, but it does seem that documents are actually (always?) created eventually, presumably at timeout?

It seems also that the dsw-server is just repeating the same (?) transaction "forever", with nothing happening in the frontend. We see hundreds of these when attempting to cr

[2022-08-27 17:58] MarekSuchanek commented on #256
You can try to adjust the queue timeout like this (default is 120 seconds and usually it is not needed to change it):

[code]

From your config, I do not see any significant difference from what we usually have and is working. Are you certain that with 3.12 (and the same configuration), there was no such issue? I can check if we updated some Postgres-related library between these versions that may

[2022-08-29 08:06] jokermanse commented on #256
Hi Marek,

Exactly where should the timeout setting go?

Adding it to docker-compose.yml (in services) I get a "services.database Additional property queueTimeout is not allowed" message.

Many thanks.

/ Urban

________________________________
Från: Marek Suchánek ***@***.***>
Skickat: den 27 augusti 2022 19:58
Till: ds-wizard/ds-wizard
Kopia: Urban Andersson; Mention
Ämne: Re: [ds-wizard/ds-wiza

[2022-09-01 06:57] MarekSuchanek commented on #256
It should be in the configuration YAML `dsw.yml` file mounted to DSW server/docworker/mailer.

[code]

[2022-09-05 19:28] MarekSuchanek commented on #256
I suspect the SSL connection as that is the only difference from our setups... But I guess there is not other way for you to try that without SSL (e.g. with SSH tunneling or some other technique) so we are sure that it is the culprit?

[2022-09-06 06:16] vknaisl commented on #257
Fixed in the `3.15.0` that was released now

[2022-09-06 06:16] #257 closed

[2022-09-07 09:27] jokermanse commented on #256
Would casting the field 'updated_at' to UTC in the query issued by docworker perhaps solve this? It seems that we (in our local setup) are currently comparing UTC dates with CET here (which might explain the delay when creating new documents).

Maybe something like (in document_worker/consts.py, line 81):

[code]

[2022-09-07 14:08] jokermanse commented on #256
I can confirm that adding the above change as a hotfix on our test server seems to have solved the problem. Documents and previews are now being generated instantly again.

[2022-09-07 17:41] MarekSuchanek commented on #256
OK, there was some misunderstanding probably... I thought that for some documents it works and some (majority) got stuck and eventually are created in the future. But the issue was that none were created immediately but after certain period of time (timezone diff with UTC). Sorry for that and thanks for diving deep into the issue - I will work on the official hotfix as the same issue exists also f

[2022-09-07 18:57] MarekSuchanek commented on #256
3.15.2 is released now with this fix, please let me know if it works for you...

[2022-09-08 12:22] jokermanse commented on #256
There was a lot of confusion when we tried to debug this at first, and we should probably have studied the logs in a more structured way... It's not the first time we've run into timezone issues in various systems, mostly our own.

Anyway, I have upgraded the test server now and it works perfectly. Many thanks!

[2022-09-09 07:18] #256 closed

[2022-09-12 09:42] jokermanse opened #258 "Activating a user using the API"
Hello,

I'm trying to create and activate a new user automatically by using the API.

Creating the user is fine, but when trying to activate it, like:

[code]

I get the following error:

[code]

I am authenticated as admin when making the request, and the "hash" param is not marked as required in the docs. Also I'm not sure what exactly it should be.

Setting active:true in the POST request when

[2022-09-13 06:12] vknaisl commented on #258
Hello Urban,

Please, use the endpoint `PUT /users/userUuid` to adjust the `active` flag for the users. Here is a link to the docs (https://api-researchers.ds-wizard.org/swagger-ui/#/User/put_users__uUuid_).

The endpoint you used serves for activating the user through the link that comes to your mailbox. The hash is required for that endpoint, I made a note to fix it in the docs.

Regards,
Vojtec

[2022-09-14 08:35] jokermanse commented on #258
Yes, using PUT instead works perfectly (of course). Many thanks!

[2022-09-14 08:35] #258 closed

[2022-09-20 17:00] imsachaves opened #259 "edit permission"
**The Question**
The question you want to ask us.
- How can I give edit permission too other logged-in users

**DS Wizard part**
Write down to which part of DS Wizard is the question related (e.g. knowledge model editor or document generation).
- Projects page

**Additional context**
Add any other context or screenshots related to the question.

[2022-09-20 17:30] MarekSuchanek commented on #259
Hello @imsachaves, you can do it via the "Share" button in the top-right corner when you open the project; then the dialog will be shown and you can set permissions there:

![image](https://user-images.githubusercontent.com/9638527/191325051-7d890003-ca10-471b-aa00-a051d522dfa1.png)

[2022-09-21 15:45] imsachaves commented on #259
nice! Thank you!

[2022-09-22 05:27] #259 closed

[2022-09-27 15:07] AleCeric opened #260 "Always restart also for the minio service"
**The Question**
Why do not use the compose specification "restart: always" also for the minio service ?

**DS Wizard part**
I refer to the [docker-compose.yml](https://github.com/ds-wizard/dsw-deployment-example/blob/main/docker-compose.yml) file of the **dsw-deployment-example**

Thanks in advance

[2022-09-27 17:31] MarekSuchanek commented on #260
It was missing there... thank you for letting us know. I fixed it: https://github.com/ds-wizard/dsw-deployment-example/commit/f2f9de4200c4ba5c1d6a699500468ec69e733350

[2022-09-27 17:31] #260 closed

[2022-10-26 13:31] jokermanse opened #261 "Some questionnaires produce a 502 Bad Gateway error"
**Describe the bug**
Some questionnaires cannot be opened in the UI

After upgrading to 3.16.0 on our local server, some (a few) existing questionnaires shows an "Error - Unable to get the Questionnaire", when trying to open.

From the browser console (Chrome, 2 messages):
Access to XMLHttpRequest at 'https://dsw.chalmers.se:3443/questionnaires/3073a93a-a97d-4044-812f-9cd738752b89' from origin 'ht

[2022-10-27 07:46] vknaisl commented on #261
Hello Urban,

Sorry for any inconvenience. There was a bug in the date deserialization from the database. We created a hotfix 3.16.3. Please upgrade and let us know if it helps.

Regards,
Vojtech

[2022-10-27 12:48] jokermanse commented on #261
Hello Vojtech,

Yes it's working perfectly now. Thanks again for your quick support.

/ Urban

________________________________
Från: Vojtech Knaisl ***@***.***>
Skickat: den 27 oktober 2022 09:46
Till: ds-wizard/ds-wizard
Kopia: Urban Andersson; Author
Ämne: Re: [ds-wizard/ds-wizard] Some questionnaires produce a 502 Bad Gateway error (Issue #261)

Hello Urban,

Sorry for any inconvenience. There

[2022-10-27 12:49] #261 closed

[2022-11-10 10:18] froggypaule commented on #254
I'll close this; if this an issue in the future, I'll come back here.

[2022-11-10 10:18] #254 closed

[2022-11-10 10:47] froggypaule commented on #239
Reopened this, I copy here my thoughts from [dsw ideas 14](https://ideas.ds-wizard.org/posts/14/improve-questionnaire-migration):

Actually, one can revert after migration (or am I wrong???)

1.    suppose I do a project migration
2.     all the changes involved in the migration show in 'version history'
3.     later, if I revert to the change occurring just before (in chronological order) then I

[2022-11-10 11:41] froggypaule opened #262 "Tagging an answer/choice"
**The Question**
Tagging an answer: the idea is by tagging an answer, I allow only this option/answer to appear in the questionnaire.

Also, if one tags the follow up questions to an answer, here too, I expected this answer to be tagged.

Now, I know that questions and answers/choices are not the same entities, but is there a fundamental reason why this couldnt be possible?

**Additional context**

[2022-11-16 11:19] jokermanse opened #263 "Changes to the PUT /questionnaires/content API function?"
Hello,

Has there been any changes to the /questionnaires/content PUT method in recent versions of the DS Wizard API (> 3.14)?

Simple example (adding a contributor name to an existing questionnaire):

`PUT /questionnaires/14ac82fe-81b6-474a-aac7-4f37f5ce97b7/content

{
    "events": [
        {
            "path": "1e85da40-bbfc-4180-903e-6c569ed2da38.73d686bd-7939-412e-8631-502ee6d9ea7b",

[2022-11-17 09:23] froggypaule opened #264 "lost access to DSW slack channel"
Hello all,

Not sure what happened, I re-installed my computer, and lost DSW in my slack space. Could someone send me an invite?
Thanks heaps!

[2022-11-17 09:29] vknaisl commented on #263
Hello Urban,

Yes, there was a change in that endpoint. Due to some performance optimalization, there is a need to send also indications about answered/unanswered question. The property is used for showing a progress bar in the “Project List” page. Don’t worry - If you send a wrong values, it will be automatically corrected during the night.

Vojtech

[2022-11-17 10:13] MarekSuchanek commented on #264
You should be able to login again here: https://ds-wizard.slack.com/ (your account uses your gmail address, so you should be able to login via Google).

[2022-11-17 10:15] froggypaule commented on #264
Many thanks @MarekSuchanek ; cheers!

[2022-11-17 10:15] #264 closed

[2022-11-17 13:08] jokermanse commented on #263
Hello Vojtech,

Thanks for the clarification. Don't know why it didn't work when I tried this, but it is working perfectly now.

Many thanks!

/ Urban

[2022-11-17 13:08] #263 closed